{{#extends "base"}}
  {{#block "content"}}
    <h4>Create New Service</h4>
    <form method="POST">
        {{{form}}}
        <input type="submit" value="Add Service" class="btn btn-info my-3"/>
    </form>
  {{/block}}
{{/extends}}